---
title: sheanmassey
layout: page
---

<div class="jumbotron">
    <!--<h1>{{ site.title }}</h1>-->
    <h1>code. hack <span id="title_it">it</span>.</h1>
    <p class="nice-font">this is my blog. there are many like it but this one is mine.</p>
</div>

<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <h3>Blog posts:</h3>

        <ul class="list-unstyled">
            {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>

                {% if post.tags %}
                    tags: {{ post.tags|join:', ' }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
$(document).ready(function(){
    // var animate = function() {
    //     d3.select("div.jumbotron").transition()
    //         .duration(1000)
    //         .style("box-shadow", "10px 10px 5px #bbb")
    //         .style("text-shadow", "5px 5px 2px #000").transition()
    //             .duration(1000)
    //             .style("box-shadow", "-10px -10px 5px #bbb")
    //             .style("text-shadow", "-5px -5px 2px #000").transition()
    //                 .duration(1000)
    //                 .style("box-shadow", "none")
    //                 .style("text-shadow", "none");
    // };
    function animate(){
        console.log("animate called");
        d3.select("span#title_it")
            .transition()
            .duration(1000)
            .style("color", function(){
                return [
                    "red",
                    "purple",
                    "pink",
                    "white"
                ][ Math.floor(Math.random() * 4) ];
            });
        return;
    }

    d3.timer(animate, 2000);
});
</script>
