---
title: sheanmassey
layout: page
---

<div class="jumbotron">
    <!--<h1>{{ site.title }}</h1>-->
    <h1 class="blog_title">code. hack <span id="title_it">it</span>.</h1>
    <p class="nice-font">this is my blog. there are many like it but this one is mine.</p>
</div>

<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <h3>Blog posts:</h3>

        <ul class="list-unstyled">
            {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>

                {% if post.tags %}
                    tags: {{ post.tags|join:', ' }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
$(document).ready(function(){
    // var animate = function() {
    //     d3.select("div.jumbotron").transition()
    //         .duration(1000)
    //         .style("box-shadow", "10px 10px 5px #bbb")
    //         .style("text-shadow", "5px 5px 2px #000").transition()
    //             .duration(1000)
    //             .style("box-shadow", "-10px -10px 5px #bbb")
    //             .style("text-shadow", "-5px -5px 2px #000").transition()
    //                 .duration(1000)
    //                 .style("box-shadow", "none")
    //                 .style("text-shadow", "none");
    // };
    function animate_colors(){
        d3.select("span#title_it")
            .transition()
                .duration(200)
                .style("color", function(){
                    return [
                        "red",
                        "purple",
                        "pink",
                        "white"
                    ][ Math.floor(Math.random() * 4) ];
                })
            .transition()
                .duration(1000)
                .style("color", "white");
            
        return;
    }
    
    function animate() {
        d3.select("h1.blog_title")
            .transition()
            .duration(500)
            .text(function(){
                trans_map = {
                    'o': '0',
                    '0': 'o',
                    'e': '3',
                    '3': 'e',
                    'i': '1',
                    '1': 'i',
                    'a': '4',
                    '4': 'a',
                    '. ': ': ',
                    ': ': '. ',
                };

                trans_index = Math.floor(Math.random() * Object.keys(trans_map).length);
                trans_key = Object.keys(trans_map)[trans_index];
                trans_val = trans_map[trans_key];

                console.log("replace " + trans_key + " with " + trans_val);

                return d3.select(this).text().replace(trans_key, trans_val);
            });
    }

    setInterval(animate, 100);
    setInterval(animate_colors, 1200);
});
</script>
