.axis path, .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: blue;
    stroke-width: 1.5px;
}

.dot {
    fill: pink;
    stroke: blue;
    stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    padding: 4px 5px;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    background: black;
    color: white;
    font-weight: bold;
}
