.axis path, .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: blue;
    stroke-width: 1.5px;
}

.dot {
    fill: pink;
    stroke: blue;
    stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 20px;
    font: 12px sans-serif;
    padding: 2px;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    background: pink;
}
