* {
    font-family: 'Droid Sans', sans;
}
section {
    display: table;
    /* height: 100vh; */
    min-height: none;
    width: 100%;
}

section.content-section {
    min-height: 100vh;
}

/*
nav.navbar-inverse {
    background-image: none;
    background-color: darkorange;
}
div.navbar-collapse {
    color: white;
}
*/

.intro {
    height: 65vh;
    /* background-color: #333; */
    color: white;
}
.intro h1 {
    font-size: 63px;
}
.intro p {
    font-size: 23px;
}
.intro .my-icon-bar {
    font-size: 50px;
    text-align: center;
}
.intro .col-xs-12,
.intro-footer .col-xs-6 {
    text-align: center;
    font-size: 2em;
}
.intro-footer {
    height: 35vh;
}
.content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 7%;
}
p { color: #bbb; }
.my-scroll-to {
    text-decoration: none;
    color: inherit;
}
.my-scroll-to:hover {
    text-decoration: none;
}

.parallax-window {
    min-height: 200px;
    background: transparent;
}

.menubuttons {
    margin-top: 1em;
    margin-bottom: 1em;
}

.menubuttons .col-xs-6 a {
    display: block;
    padding-top: .2em;
    padding-bottom: .2em;
    background-color: darkmagenta;
    color: white;
}

.menubuttons a:hover {
    background-color: magenta;
    color: white;
    text-decoration: none;
}
