{% include head.html %}


<div class="jumbotron">
    <!--<h1>{{ site.title }}</h1>-->
    <h1 id="blog_title">code. hack <span id="title_it">it</span>.</h1>
    <p class="nice-font">this is my blog. there are many like it but this one is mine.</p>
</div>


<div class="row" id="my-content-row">
    <div class="col-sm-3">
        <h3>cat /dev/urandom</h3>

        <ul class="list-unstyled">
            {% for post in site.posts %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-9" id="my-content-col">
        <h1>
            {{ page.title }}
        </h1>

        {% if tags %}
            {% for tag in tags %}
                <div class="label my-colored-label">
                    {{ tag }}
                </div>
            {% endfor %}
        {% endif %}

        <br />

        {{ content }}

        <br />
        <div id="disqus_thread"></div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        String.prototype.hashCode = function() {
            var hash = 0, i, chr, len;
            if (this.length == 0) return hash;
            for (i = 0, len = this.length; i < len; i++) {
                chr   = this.charCodeAt(i);
                hash  = ((hash << 5) - hash) + chr;
                hash |= 0; // Convert to 32bit integer
            }
            return hash;
        };


        String.prototype.bs3Class = function() {
            var classes = [
                "default",
                "primary",
                "success",
                "info",
                "warning",
                "danger" ];

            var window_size = ( 2147483647 / classes.length );
            var hash = Math.abs( this.hashCode() );
            for ( i = 0; i < classes.length; i++ ) {
                var l = 1 * i;
                var h = window_size * i;
                if ((hash < h) && (hash > l)) {
                    return classes[i];
                }
            }
            return classes[0];
        };


        $(".my-colored-label").each(function(){
            $(this).addClass("label-" + $(this).bs3Class());
        });


        var disqus_shortname = 'sheanmasseygithubio';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    });
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


{% include foot.html %}
